[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
faker = "*"
v = {editable = true,version = "*"}

[packages]
flask = "*"
myapplication = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
flask-wtf = "*"
bootstrap-flask = "*"
flask-moment = "*"
flask-debugtoolbar = "*"

[requires]
python_version = "3.7"
